.hidden {
    display: none;
}

body{
    background-color: #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    font-size: 2em;
}

.bg-img{
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#todo-form input {
    font-size: 0.8em;
    width: 200px;
    margin-bottom: 20px;
}

ul#todo-list {
    list-style: circle;
}

ul#todo-list li span {
    font-size: 1em;
    padding-right: 10px;
}